<h1>Create new dose</h1>


<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.input :ingredient_id, as: :select, collection: @ingredients, prompt: 'Select ingredient', label: false %>
  <%= f.submit "add a dose", class: "btn btn-primary" %>
<% end %>
